

<div class="container padded">
    <div class="row-gsi">
        <div class="col-gsi event-name"></div>
        <div class="col-gsi event-col event-header"></div>
    </div>
    <div class="row-gsi">
        <div class="col-gsi event-name">Day/Night</div>
        <div class="col-gsi event-col" id="day"></div>
    </div>
    <div class="row-gsi">
        <div class="col-gsi event-name">Siege</div>
        <div class="col-gsi event-col" id="siege"></div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi event-name">Power</div>
        <div class="col-gsi event-col" id="power"></div>
    </div>
    <div class="row-gsi">
        <div class="col-gsi event-name">Water</div>
        <div class="col-gsi event-col" id="water"></div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi event-name">Bounty</div>
        <div class="col-gsi event-col" id="bounty"></div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi event-name">Wisdom</div>
        <div class="col-gsi event-col" id="wisdom"></div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi event-name">Tormentors</div>
        <div class="col-gsi event-col" id="tormentors"></div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi event-name">Stack</div>
        <div class="col-gsi event-col" id="stack"></div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi event-name">Safelane Pull</div>
        <div class="col-gsi event-col" id="slp"></div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi event-name">Offlane Pull</div>
        <div class="col-gsi event-col" id="oflp"></div>
    </div>
    <div class="row-gsi">
        <div class="col-gsi event-name">Roshan</div>
        <div class="col-gsi event-col" id="roshan"></div>
    </div>
</div>