

<div class="row-gsi debug">
    <div class="col-gsi debug">
        <div class="player-color $id"></div>
        <img class="img portrait" id="portrait-$id" src="/static/heroes/abaddon_sb.png">
    </div>

     <!-- Abilities + Health -->
    <div class="col-gsi debug ability-col">
        <div class="row-gsi debug">
            <div class="col-gsi ability debug"><img class="img hidden" id="ability0-$id" src="/static/abilities/Test_of_Faith_icon.webp"></div>
            <div class="col-gsi ability debug"><img class="img hidden" id="ability1-$id" src="/static/abilities/Test_of_Faith_icon.webp"></div>
            <div class="col-gsi ability debug"><img class="img hidden" id="ability2-$id" src="/static/abilities/Test_of_Faith_icon.webp"></div>
            <div class="col-gsi ability debug"><img class="img hidden" id="ability3-$id" src="/static/abilities/Test_of_Faith_icon.webp"></div>
            <div class="col-gsi ability debug"><img class="img hidden" id="ability4-$id" src="/static/abilities/Test_of_Faith_icon.webp"></div>
            <div class="col-gsi ability debug"><img class="img hidden" id="ability5-$id" src="/static/abilities/Test_of_Faith_icon.webp"></div>
            <div class="col-gsi ability debug"><img class="img hidden" id="ability6-$id" src="/static/abilities/Test_of_Faith_icon.webp"></div>
            <div class="col-gsi ability debug"><img class="img hidden" id="ability7-$id" src="/static/abilities/Test_of_Faith_icon.webp"></div>
        </div>
        <div class="row-gsi debug bar">
            <div class="health" id="health-$id"></div>
            <div class="txt-overlay" id="health-txt-$id">240/300</div>
        </div>
        <div class="row-gsi debug bar">
            <div class="mana" id="mana-$id"></div>
            <div class="txt-overlay" id="mana-txt-$id">240/300</div>
        </div>
    </div>

    <!-- Items -->
    <div class="col-gsi debug">
        <div class="row-gsi debug">
            <div class="col-gsi item debug"><img class="img" id="slot0-$id" src="/static/items/yasha_lg.png" ></div>
            <div class="col-gsi item debug"><img class="img" id="slot1-$id" src="/static/items/yasha_lg.png"></div>
            <div class="col-gsi item debug"><img class="img" id="slot2-$id" src="/static/items/yasha_lg.png"></div>
        </div>
        <div class="row-gsi debug">
            <div class="col-gsi item debug"><img class="img" id="slot3-$id" src="/static/items/yasha_lg.png"></div>
            <div class="col-gsi item debug"><img class="img" id="slot4-$id" src="/static/items/yasha_lg.png"></div>
            <div class="col-gsi item debug"><img class="img" id="slot5-$id" src="/static/items/yasha_lg.png"></div>
        </div>
        <div class="row-gsi debug">
            <div class="col-gsi backpack debug"><img class="img" id="slot6-$id" src="/static/items/yasha_lg.png" ></div>
            <div class="col-gsi backpack debug"><img class="img" id="slot7-$id" src="/static/items/yasha_lg.png"></div>
            <div class="col-gsi backpack debug"><img class="img" id="slot8-$id" src="/static/items/yasha_lg.png"></div>
        </div>
    </div>

    <div class="col-gsi debug">
        <div class="row-gsi debug">
            <div class="col-gsi item neutral debug"><img class="img neutral" id="teleport0-$id" src="/static/items/yasha_lg.png" ></div>
        </div>
        <div class="row-gsi debug">
            <div class="col-gsi item neutral debug"><img class="img neutral" id="neutral0-$id" src="/static/items/yasha_lg.png" ></div>
        </div>
    </div>
</div>