
<div class="row-gsi">
    <div class="col-gsi half">
        Radiant
    </div>
    <div class="col-gsi half">
        Dire
    </div>
</div>

<div class="row-gsi">
    <div class="col-gsi padded" id="t0-s0">
        {% include "hero.html"  %}
    </div>
    <div class="col-gsi padded" id="t1-s0">
        {% include "hero.html"  %}
    </div>
</div>

<div class="row-gsi">
    <div class="col-gsi padded"  id="t0-s1">
        {% include "hero.html"  %}
    </div>
    <div class="col-gsi padded"  id="t1-s1">
        {% include "hero.html"  %}
    </div>
</div>

<div class="row-gsi">
    <div class="col-gsi padded"  id="t0-s2">
        {% include "hero.html"  %}
    </div>
    <div class="col-gsi padded"  id="t1-s2">
        {% include "hero.html"  %}
    </div>
</div>

<div class="row-gsi">
    <div class="col-gsi padded"  id="t0-s3">
        {% include "hero.html"  %}
    </div>
    <div class="col-gsi padded"  id="t1-s3">
        {% include "hero.html"  %}
    </div>
</div>

<div class="row-gsi">
    <div class="col-gsi padded"  id="t0-s4">
        {% include "hero.html"  %}
    </div>
    <div class="col-gsi padded"  id="t1-s4">
    
    </div>
</div>
