{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<div class="container text-center padded">
    <div class="row-gsi">
        <div class="col-gsi">
        {% include "map.html"  %}
    </div>
        <div class="col-gsi">
            {% include "heroes.html" %}

            <div class="row-gsi">
                <div class="col-gsi">
                    {% include "stats.html" %}
                </div>

                <div class="col-gsi">
                    {% include "events.html" %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}