
<div class="row">
    <div class="col">
        <svg id="minimap" height="512px" width="512px">
            <image href="/static/minimap/minimap_7.23.png" height="100%" width="100%"></image>
        
            <g transform="translate(30,40), rotate(45)" id="loc-t0-s0">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t0-s0"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t0-s1">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t0-s1"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t0-s2">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t0-s2"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t0-s3">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t0-s3"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t0-s4">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t0-s4"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t1-s0">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t1-s0"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t1-s1">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t1-s1"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t1-s2">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t1-s2"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t1-s3">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t1-s3"></image>
            </g>
            <g transform="translate(30,40), rotate(45)" id="loc-t1-s4">
                <polygon points="8,-8 0,16 16,16" fill="rgb(255, 255, 255)"/>
                <image href="/static/minimap/32_143.png" height="16px" width="16px" id="icon-t1-s4"></image>
            </g>
        </svg>
    </div>
</div>


