<div class="container text-center padded">
    <div class="row-gsi">
        <div class="col-gsi stat-name"></div>
        <div class="col-gsi stat-col stat-header">Actual</div>
        <div class="col-gsi stat-col stat-header">Target</div>
    </div>
    <div class="row-gsi">
        <div class="col-gsi stat-name">KDA</div>
        <div class="col-gsi stat-col" id="kda">KDA</div>
        <div class="col-gsi stat-col" id="kda-target">KDA</div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi stat-name">L / D</div>
        <div class="col-gsi stat-col" id="ld">L / D</div>
        <div class="col-gsi stat-col" id="ld-target">L / D</div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi stat-name">NW</div>
        <div class="col-gsi stat-col" id="nw">NW</div>
        <div class="col-gsi stat-col" id="nw-target">NW</div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi stat-name">GPM</div>
        <div class="col-gsi stat-col" id="gpm">GPM</div>
        <div class="col-gsi stat-col" id="gpm-target">GPM</div>
    </div>

    <div class="row-gsi">
        <div class="col-gsi stat-name">XPM</div>
        <div class="col-gsi stat-col" id="xpm">XPM</div>
        <div class="col-gsi stat-col" id="xpm-target">XPM</div>
    </div>
</div>